<div class="corpo">
    <div class="mes">
        <select>
            <option value="Agosto" selected>
                <a href="">Agosto</a>
            </option>
        </select>
        <button>Definir um periodo de folga</button>
    </div>
    <div class="dias">
        <div class="ul-dias">
            <button>
                <h1>Seg</h1>
                <h2>09</h2>
            </button>
            <button>
                <h1>Ter</h1>
                <h2>10</h2>
            </button>
            <button>
                <h1>Qua</h1>
                <h2>11</h2>
                </button>
        </div>
        <button class="mais">
            <p>></p>
        </button>
    </div>
    <div class="filtro">
        <div class="select-filtro">
            <select>
                <option value="Todos" selected>
                    <a href="">Funcionários :Todos</a>
                </option>
            </select>
            <select>
                <option value="Todos" selected>
                    <a href="">Status: Todos</a>
                </option>
            </select>
        </div>
        <button>+ Adicionar agendamento</button>
    </div>
    <table class="tabela">
        <thead>
            <tr>
                <th>
                    Horários
                </th>
                <th>
                    Serviços
                </th>
                <th>
                    Status
                </th>
                <th>
                    Funcionário
                </th>
                <th>
                    Cancelar agendamento
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    9:00 - 9:30
                </td>
                <td>
                    <select class="select-serv">
                        <option value="cortesimples" selected>
                            <a href="">Corte Simples</a>
                        </option>
                    </select>
                </td>
                <td class="status">
                    <p>Disponível</p>
                </td>
                <td>
                    <p>Cleide</p>
                </td>
                <td class="cancelar">
                    <button>X</button>
                </td>
            </tr>
            <tr>
                <td>
                    9:00 - 9:30
                </td>
                <td>
                    <select class="select-serv">
                        <option value="cortesimples" selected>
                            <a href="">Corte Simples</a>
                        </option>
                    </select>
                </td>
                <td class="status">
                    <p>Disponível</p>
                </td>
                <td>
                    <p>Ravona</p>
                </td>
                <td class="cancelar">
                    <button>X</button>
                </td>
            </tr>
            <tr>
                <td>
                    9:00 - 9:30
                </td>
                <td>
                    <select class="select-serv">
                        <option value="cortesimples" selected>
                            <a href="">Corte Simples</a>
                        </option>
                    </select>
                </td>
                <td class="status">
                    <p>Disponível</p>
                </td>
                <td>
                    <p>Peggy</p>
                </td>
                <td class="cancelar">
                    <button>X</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>