        <head>
            <meta charset="utf-8">
            <title>Corpo pi</title>
            <link rel="stylesheet" type="text/css" href="Historico.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
        </head>

        <body>
            <div class="corpo">
                <h1>Histórico de Atendimentos</h1>
                <div class="col-1">
                    <div class="status">
                        <select name="status" id="status">
                            <option value="opcao_1">Todos</option>
                            <option value="opcao_2">Pendente</option>
                            <option value="opcao_3">Finalizado</option>
                        </select>
                    </div>
                        <div class="data">
                            <select name="data" id="data">
                                <option value="opcao_1">Todos os dias</option>
                                <option value="opcao_1">Hoje</option>
                                <option value="opcao_2">Ontem</option>
                                <option value="opcao_3">Semana Interia</option>
                                <option value="opcao_4">Semana Passada</option>
                                <option value="opcao_4">Mês Passado</option>
                            </select>
                        </div>
                    <div class="busca">
                        <input type="text" placeholder="🔍Procurar">
                    </div>
                </div>
                <table>
                    <thead>
                        <tr align="center">
                            <th>#</th>
                            <th>Data</th>
                            <th>Cliente</th>
                            <th>Descrição</th>
                            <th>Horário</th>
                            <th>Situação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td>⬜</td>
                            <td>13/08/2021</td>
                            <td>Fulano de Tal</td>
                            <td>Corte de Cabelo</td>
                            <td>09:00</td>
                            <td>
                                <select id="situacao">
                                    <option value="1">Todos</option>
                                    <option value="2">Pendente</option>
                                    <option value="3">Finalizado</option>
                                </select>
                            </td>
                        </tr>
                        <tr align="center">
                            <td>⬜</td>
                            <td>13/08/2021</td>
                            <td>Fulano de Tal</td>
                            <td>Manicure</td>
                            <td>08:30</td>
                            <td>
                                <select id="situacao">
                                    <option value="1">Todos</option>
                                    <option value="2">Pendente</option>
                                    <option value="3">Finalizado</option>
                                </select>
                            </td>
                        </tr>
                        <tr align="center">
                            <td>⬜</td>
                            <td>13/08/2021</td>
                            <td>Fulano de Tal</td>
                            <td>Corte de Cabelo</td>
                            <td>14:45</td>
                            <td>
                                <select id="situacao">
                                    <option value="1">Todos</option>
                                    <option value="2">Pendente</option>
                                    <option value="3">Finalizado</option>
                                </select>
                            </td>
                        </tr>
                        <tr align="center">
                            <td>⬜</td>
                            <td>13/08/2021</td>
                            <td>Fulano de Tal</td>
                            <td>Manicure</td>
                            <td>09:45</td>
                            <td>
                                <select id="situacao">
                                    <option value="1">Todos</option>
                                    <option value="2">Pendente</option>
                                    <option value="3">Finalizado</option>
                                </select>
                            </td>
                        </tr>
                        <tr align="center">
                            <td>⬜</td>
                            <td>13/08/2021</td>
                            <td>Fulano de Tal</td>
                            <td>Corte de Cabelo</td>
                            <td>13:55</td>
                            <td>
                                <select id="situacao">
                                    <option value="1">Todos</option>
                                    <option value="2">Pendente</option>
                                    <option value="3">Finalizado</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
        </body>