@{
    ViewData["Title"] = "Home";
}
<header>
</header>
<body>
    <link rel="stylesheet" href="~/css/Home.css">
    <div id="container">

        <div class="Informações">
            <img src="#" alt="" />
            <h3>Barbearia da Jena</h3>
            <p>Telefone</p>
            <p>Endereço</p>

        </div>
        <div class="FuncionariosCadastrados">
            <h4> Funcionários Cadastrados </h4>
        </div>
        <div class="shadow-box">
            <div class="radius-shadow-box">  <p>Cleide</p> </div>
            <div class="radius-shadow-box">  <p>Ravona</p> </div>
            <div class="radius-shadow-box">  <p>Peggy</p> </div>
            </div>

        <div class="ServicosCadastrados">
            <h4> Serviços Cadastrados </h4>
        </div>
        
        <div class="shadow-box">
            <div class="radius-shadow-box"> <p>Corte de Cabelo</p> </div>
            <div class="radius-shadow-box"> <p>Manicure</p> </div>
        </div>

    </div>
 
</body>