<header>
    <img src="" alt="Logo senac">
    <nav>
        <a href="">Criar conta</a>
        <a href="">Entrar</a>
    </nav>
</header>
<div class="barra-pesquisa">
    <form asp-action="Empresas" method="get">
        <input type="text" name="busca" placeholder="O que você procura?">
        <input type="submit" value="Pesquisar" />
    </form>
</div>