<header>
    <img src="" alt="Logo senac">
    <nav>
        <a href="">Criar conta</a>
        <a href="">Entrar</a>
    </nav>
</header>
<div class="barra-pesquisa">
    <form asp-action="Empresas" asp-controller="Home" method="get">
        <input type="text" name="Busca">
        <input type="submit" value="Buscar" />
    </form>
</div>