<header>
    <img src="" alt="Logo senac">
    <nav>
        <a href="">Criar conta</a>
        <a href="">Entrar</a>
    </nav>
</header>
<div class="barra-pesquisa">
    <input type="text" name="pesquisa" placeholder="O que você procura?">
    <button>
        <img src="" alt="Lupa de pesquisa">
    </button>
</div>