.radius-shadow-box {
    border-radius: 15px;
    background-color: white;
    margin: 2px;
    padding: 2px;
}

.shadow-box {
    display: inline-flex;
    background-color: #b4b4b4;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    width: 350px;
}

p {
    margin: 5px;
    font-size: 12px;
}

.ServicosCadastrados, .FuncionariosCadastrados {
    margin-top: 12px;
    width: 350px;
}

h4 {
    font-size: 15px;
    text-align: left;
}

h1 {
    font-size: 18px;
}
